<!doctype html>
<html lang="en">
<head>
    <title>Weather</title>
    <link rel="icon" href="images/logo.png">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>header}}
    <p id="about-text">This is a weather application built on nodejs . It uses data from mapbox and weatherstack api.</p>
    <img src="images/me.jpg" />
    <h2>Created By : {{name}}</h2>
</body>
</html>
