<!doctype html>
<html lang="en">
<head>
    <title>Weather</title>
    <link rel="icon" href="images/logo.png">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>header}}
    <h2>{{errorType}}</h2>
</body>
</html>
